@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
    font-size: 16px;
    --dark-violet           : hsl(256, 26%, 20%);
    --grayish-blue          : hsl(216, 30%, 68%);
    --very-dark-violet      : rgb(43, 39, 47);
    --dark-grayish-violet   : hsl(273, 4%, 51%);
    --very-light-gray       : hsl(0, 0%, 98%);
    --font-headings         : 'DM Serif Display', serif;
    --font-body             : 'Karla', sans-serif;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
    height: 80px;
    font-family: var(--font-body);
    font-weight: 700;
    z-index: 99;
    position: relative;
}

nav .btn-outline-dark {
    font-weight: 700;
    border: 2px solid var(--very-dark-violet);
    border-radius: 0;
    padding: 8px 28px;
}
.navbar {
    padding: 0;
}
footer .navbar-nav {
    flex-direction: row;
}


#home {
    height: 600px;
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
    z-index: 0;
    /* background-image: url("img/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    background-position: right; */
}

#home #pattern-right {
    right: 0;
    top: 80px;
    z-index: 4;
}

#home #pattern-left {
    left: 0;
    top: 520px;
}
#pattern-right img:nth-child(2){
    display: none;
}
#pattern-left img:nth-child(2) {
    display: none;
}

.headings {
    font-family: var(--font-headings);
    font-size: 5rem;
    line-height: 95.7%;
}

#home span {
    width: 150px;
}

.body-paragraph {
    font-family: var(--font-body);
    font-weight: normal;
}

#home .btn-outline-dark {
    font-weight: 700;
    border: 2px solid var(--very-light-gray);
    color: var(--very-light-gray);
    border-radius: 0;
    font-family: var(--font-body);
    font-size: 16px;
    padding: 8px 28px;
    align-self: flex-start;
    /* width: 146.81px; */
    /* height: 44px; */
}

#home .btn-outline-dark:hover {
    border: 2px solid white;
    color: var(--very-dark-violet);

}

#about {
    margin-top: 300px;
}

#about span {
    width: 150px;
    border-bottom: 1px solid var(--dark-grayish-violet);
}
#about h1 {
    font-family: var(--font-headings);
}
#about>div>div {
    margin-bottom: 90px;
}

.feature-wrapper {
    margin-right: 20px;
}
.feature-wrapper h2 {
    font-family: var(--font-headings);
    margin-bottom: 30px;
}
.feature-wrapper p {
    font-family: var(--font-body);
    color: var(--dark-grayish-violet);
}
.feature-wrapper img {
    margin-bottom: 40px;
}

#banner-wrapper {
    margin-top: 160px;
    margin-bottom: 150px;
}

#banner {
    background-color: var(--dark-violet);
    height: 250px;
    padding: 0 80px;
    background-image: url("img/bg-pattern-how-we-work-desktop.svg");
    background-position: right;
    background-repeat: no-repeat;
}

#banner h1 {
    font-family: var(--font-headings);
    color: var(--very-light-gray);
    font-size: 3.1rem;
}

#banner .btn-outline-dark {
    font-weight: 700;
    border: 2px solid var(--very-light-gray);
    color: var(--very-light-gray);
    border-radius: 0;
    font-family: var(--font-body);
    font-size: 16px;
    padding: 8px 28px;
    height: 44px;
}

#banner .btn-outline-dark:hover {
    border: 2px solid white;
    color: var(--very-dark-violet);

}

footer {
    height: 390px;
    background-color: var(--very-light-gray);
    background-image: url("img/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
}

footer .container {
    padding: 60px 12px;
}

footer .navbar {
    padding-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 50px;
}
footer .nav-item {
    margin-right: 15px;
}
footer .nav-item:nth-last-child(1) {
    margin-right: 0;
}
footer .nav-link {
    padding: 0;
}
.footer-menu {
    text-transform: uppercase;
    font-family: var(--font-body);
    font-weight: 700;
    margin-right: 175px;
}

.footer-menu p {
    color: var(--dark-violet);
}

.footer-menu p:nth-child(1) {
    margin-bottom: 35px;
    color: var(--dark-grayish-violet);
}