
.form-control{
  padding: 16px;
  display: block;
  margin-bottom: 5px!important;
  color: color('black')!important;
  border: 2px solid transparentize(color('black'), .5);
  height: 50px;
  @include border-radius(5px);

  &--register{
    padding: 5px 10px;
    background-color: color('softgray-1');
    border: 2px solid transparentize(color('black'), .9);
  }

  &:focus{
    border-color: color('black');
    box-shadow: none;
  }


}

@include placeholder(color('black'));

