@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/extends';
@import '../abstracts/keyframes';

.card__link{
	transition: .5s;

	&:hover{
		background-color: color('oldblue');
		box-shadow: 0 15px 60px transparentize(color('oldblue'), 0.85);
	}
}

.font{
	&__responsive{
		&-md{
			&-3{
				@media screen and(max-width: $br-md) {
					font-size: 4.5vw !important;
				}
			}
		}
	}
}